.search-main {
  height: 100dvh;
  width: 100dvw;
  background-color: #070920;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.search-svg__1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

.search-svg__2 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  width: 100dvw;
  z-index: 3;
}

.header-container h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 50px;
}

.form-container {
  height: 400px;
  width: 600px;
  background-color: #ffffff11;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.msg {
  color: white;
  position: fixed;
  top: 20%;
}

.warn {
  color: rgb(192, 192, 192);
  position: fixed;
  bottom: 10%;
}

.form-container form {
  width: 90%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container form input {
  height: 100%;
  width: 70%;
  background-color: transparent;
  border: 1px solid #5e6eff;
  border-radius: 5px;
  padding-inline-start: 10px;
  color: white;
  font-size: 15px;
}

.form-container form input::placeholder {
  color: #fff;
  font-size: 15px;
}

.form-container form input:focus {
  outline: none;
}

.search-btn {
  background-color: transparent;
}

.product-hyperlink {
  text-decoration: none;
  color: #fff;
  background-color: #0709207a;
  padding: 10px 20px;
  border-radius: 1rem;
  margin-top: 20px;
  border: 1px solid #5e6eff;
}



@media only screen and (max-width: 600px) {
  .header-container h1 {
    font-size: 40px;
  }
  .form-container {
    height: 400px;
    width: 600px;
    margin-inline: 10px;
    background-color: #ffffff11;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
  }

  .form-container form {
    width: 90%;
    flex-direction: column;
    height: 150px;
    margin-top: 20px;
  }

  .form-container form input {
    height: 50px;
    width: 100%;
  }

  .search-btn {
    width: 60%;
  }
}
