.review-main {
  height: 100dvh;
  width: 100dvw;
  background-color: #070920;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.review-svg__1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.review-svg__2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  width: 100dvw;
  z-index: 3;
}

.header-container h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 50px;
}

.review-container {
  height: 500px;
  width: 800px;
  background-color: #ffffff11;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  z-index: 4;
  overflow: scroll;
}

.review-container__child {
  width: 100%;
  height: max-content;
  margin-inline: 0.5rem;
  margin-block: 0.6rem;
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  font-weight: lighter;
  font-size: 14px;
}

.review-container__child:nth-child(odd) {
  background-color: #03073457;
}
.review-container__child:nth-child(even) {
  background-color: #4c58c95d;
}
.logo{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}
.logo img{
  object-fit: contain;
  aspect-ratio: 0.4;
  height: 100px;
  width: 100px;
}

