{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block styles %}	
<link	
  rel="stylesheet"	
  href="{{ url_for('static', filename='./stylesheets/home.css') }}"	
/>	
{% endblock %} {% block content %}	
<main class="home-main">	
  <div class="container-left">	
    <h1>Revuator</h1>	
    <p>Your Review Anayzer on the GO!</p>	

    <a href="{{ url_for('search') }}" class="border-button-primary home-start">	
      Start Analyzing	
    </a>	
  </div>	

  <svg	
    width="263"	
    height="314"	
    viewBox="0 0 263 314"	
    fill="none"	
    xmlns="http://www.w3.org/2000/svg"	
    class="home-svg__1"	
  >	
    <path	
      fill-rule="evenodd"	
      clip-rule="evenodd"	
      d="M77.0725 -28.3793C137.598 -34.8119 199.564 -103.702 246.724 -69.5455C292.497 -36.3925 227.17 28.1418 227.344 80.4597C227.52 133.118 277.374 185.681 247.726 231.351C214.351 282.76 142.753 323.813 77.0725 311.937C13.6225 300.464 9.44589 221.228 -35.6332 180.114C-79.1898 140.388 -171.52 135.597 -176.727 80.4597C-181.909 25.5955 -112.196 -13.3289 -56.1714 -37.3542C-14.5074 -55.2213 31.0977 -23.4932 77.0725 -28.3793Z"	
      fill="#4C59C9"	
    />	
  </svg>	

  <div class="card">	
    <div class="card-left">	
      <div class="container-row">	
        <div class="logo-container">	
          <img	
            src="{{ url_for('static', filename='./images/amz_icon.png') }}"	
          />	
          <img src="{{ url_for('static', filename='./images/rat_img.png') }}" />	
        </div>	
        <svg	
          width="136"	
          height="46"	
          viewBox="0 0 136 46"	
          fill="none"	
          xmlns="http://www.w3.org/2000/svg"	
           >	
          <line y1="1.5" x2="65" y2="1.5" stroke="black" stroke-width="3" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
        </svg>	
      </div>	
      <div class="container-row">	
        <div class="logo-container">	
          <img	
            src="{{ url_for('static', filename='./images/amz_icon.png') }}"	
          />	
          <img src="{{ url_for('static', filename='./images/rat_img.png') }}" />	
        </div>	
        <svg	
          width="136"	
          height="46"	
          viewBox="0 0 136 46"	
          fill="none"	
          xmlns="http://www.w3.org/2000/svg"	
        >	
          <line y1="1.5" x2="65" y2="1.5" stroke="black" stroke-width="3" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="21" x2="136" y2="21" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="33" x2="136" y2="33" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
          <line y1="45" x2="136" y2="45" stroke="#808080" stroke-width="2" />	
        </svg>	
      </div>	
    </div>	
    <div class="card-right">	
      <svg	
        width="206"	
        height="192"	
        viewBox="0 0 206 192"	
        fill="none"	
        xmlns="http://www.w3.org/2000/svg"	
      >	
        <path	
          fill-rule="evenodd"	
          clip-rule="evenodd"	
          d="M113.776 0.813065C140.49 -3.96408 167.135 12.9844 185.174 33.9672C202.32 53.9106 205.684 81.2885 205.932 108.006C206.184 135.07 206.741 166.317 186.563 183.484C167.049 200.087 138.996 187.486 113.776 186.414C90.3713 185.419 66.2096 191.017 46.7211 177.54C23.2242 161.292 -3.57324 137.002 0.393203 108.006C4.31898 79.3063 42.7245 75.2759 63.3812 55.7469C82.1044 38.046 88.8083 5.27796 113.776 0.813065Z"	
          fill="#B3B3B3"	
        />	
      </svg>	
      <img src="{{ url_for('static', filename='./images/man.png') }}" />	
    </div>	
  </div>	

  <svg	
    width="357"	
    height="459"	
    viewBox="0 0 357 459"	
    fill="none"	
    xmlns="http://www.w3.org/2000/svg"	
    class="home-svg__2"	
  >	
    <path	
      fill-rule="evenodd"	
      clip-rule="evenodd"	
      d="M260.283 24.3775C341.926 22.4257 428.994 -26.6355 495.921 20.1642C568.105 70.6397 611.021 169.971 591.239 255.802C572.917 335.296 466.51 346.686 407.648 403.168C351.356 457.184 337.574 562.767 260.283 573.378C181.29 584.222 115.174 512.846 66.0176 450.068C22.9194 395.026 16.6701 325.526 11.6152 255.802C5.95457 177.722 -21.6589 84.5012 35.6482 31.1678C92.6561 -21.8872 182.429 26.2387 260.283 24.3775Z"	
      fill="#4C59C9"	
    />	
    <div class="logo">	
      <img src="../static/images/logo 1.png" alt="">	
    </div>	
  </svg>	
</main>	
{% endblock %}